/*?Global Styles*/ 
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*? Mobile screen */
.container {
    width: 100%;
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}
/*? Tablet Screen */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px; 
  }
}
/*? Dekstop Screen */
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

body {
  background-color: #FFFFFF;
}

body {
  font-family: Roboto, Arial, sans-serif;
  color: #2e2f42;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}
ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.section-title,
.portfolio-title {
  margin-bottom: 72px;
}