.features-title {

}

.features-list {
    list-style: none;
}

.features-item {

}

.features-subtitle {
    font-weight: 500;
    font-size: 20px;
    color: #2e2f42;
}

.features-text {

}
