.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-logo {
    display: block;
    margin-bottom: 16px;
    color: #f4f4fd;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
}
  
.footer-logo span {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33333;
    letter-spacing: 0.03em;
    color: #4d5ae5;
}

.footer-text {
    max-width: 264px;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    margin-bottom: 32px;
}