.container {
}

.header {

}

.logo {
    font-weight: 700;
    font-size: 18px;

    line-height: 1.33333;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #4d5ae5;
}

.logo span {
    color: #2e2f42;
}

.nav {

}

.nav-list {
    list-style: none;
}

.nav-link {
    font-weight: 500;
    color: #2e2f42;

    text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.address {

}

.contact-list {
    list-style: none;
}

.contact-link {
    color: #434455;
    text-decoration: none;
    font-style: normal;
}

.contact-link:hover,
.contact-link:focus {
    color: #404bbf;
}
