/* ===== HERO WRAPPER ===== */
.hero {
  background-color: #2e2f42;
}

.hero {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
  ),
  url("../images/hero-bg-mobile.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-resolution: 192dpi) {
    .hero {
        background-image:
            linear-gradient(
              rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url("../images/hero-bg-mobile@2x.jpg");
    }
}

@media only screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
  ),
  url("../images/hero-bg-tablet.jpg");
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .hero {
        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url("../images/hero-bg-tablet@2x.jpg");
    }
}

@media only screen and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
  ),
  url("../images/hero-bg-desktop.jpg");
  }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
    .hero {
        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url("../images/hero-bg-desktop@2x.jpg");
    }
}
/* ===== HERO CONTAINER ===== */
.hero {
  padding-top: 72px;
  padding-bottom: 72px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .hero {
    padding-top: 112px;
    padding-bottom: 112px;
  }
}
@media only screen and (min-width: 1158px) {
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
  }
}
/* ===== HERO TITLE ===== */
.hero-title {
  margin: 0 auto 72px;

  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #fff;
  max-width: 216px;
}

@media only screen and (min-width: 768px) {
  .hero-title {
    max-width: 496px;
    margin: 0 auto 36px;

    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
  }
}

@media only screen and (min-width: 1158px) {
  .hero-title {
    margin: 0 auto 48px;
  }
}

/* ===== HERO BUTTON ===== */
.hero-button {
  display: inline-block;

  background-color: #4d5ae5;
  color: #ffffff;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;

  padding: 16px 32px;

  border: none;
  border-radius: 4px;

  cursor: pointer;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}