.hero {
    background-color: #2e2f42;
}

.hero-title {
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;

    text-align: center;
    color: #fff;
}

.hero-button {
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    font-weight: 500;
    cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}
