.portfolio {}

.portfolio-title {
    font-weight: 700;
    font-size: 36px; 
    line-height: 1.11111;
    color: #2e2f42;
    text-align: center;
    
}

.portfolio-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.portfolio-item {

}

.portfolio-image {
    display: block;
}

.portfolio-content {
 text-align: left;
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
