.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.portfolio {
  background-color: white ;
}

.portfolio-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
  margin-top: 72px;
}

.portfolio-item {
  transition:
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow:
  0 2px 1px 0 rgba(46, 47, 66, 0.08),
  0 1px 1px 0 rgba(46, 47, 66, 0.16),
  0 1px 6px 0 rgba(46, 47, 66, 0.08);
}


.portfolio-image {
  display: block;
}

.portfolio-content {
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-content {
  padding: 32px 16px;
}

.portfolio-subtitle {
  margin: 0 0 8px 0;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-text {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-image-wrap {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;

  color: #f4f4fd;
}

.overlay {
  padding: 40px 32px;
  background-color: #4d5ae5;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: 1;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .overlay {
  transform: translateY(0);
}