.team {
    background-color: #f4f4fd;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.11111;
    text-align: center;
    color: #2e2f42;
}

.team-list {

}

.team-item {
    background-color: #fff;     
}

.team-image {

}

.team-content {
    text-align: left;
}

.team-name {

}

.team-job {

}
